/node_modules
/.src/public

.src/public
.src/public/documents/NFA
.src/public/documents/NON_FEATURE
.src/public/documents/NON-FEATURE

/.src/public/documents/NFA
/.src/public/documents/NON_FEATURE
/.src/public/documents/NON-FEATURE

src/public
src/public/documents/NFA
src/public/documents/NON_FEATURE
src/public/documents/NON-FEATURE

src/public